export COMPOSE_PROJECT_NAME=hub

# General
export NETWORKS_IPAM_CONFIG_SUBNET=192.169.249.0/24 # Needed on staging and prod to stop conflicts with uni subnets
export DATA_DIR=./data # When deploying on VMs: /data

# Database
export DB_MYSQL_USER=root
export DB_MYSQL_PASSWORD=12345
export DB_MYSQL_DATABASE=research_hub

# Proxy
export PROXY_SERVER_NAME=localhost # When deploying on VMs, either:
export PROXY_IDP_HOSTNAME=iam.auckland.ac.nz

# Web app
export WEB_ENVIRONMENT=local # When deploying on VMs, either: dev, test, prod

# Service Now
export SN_BASE_URL=https://google.com
export SN_USER='user'
export SN_PASSWORD='password'

# CeR Virtual machine request
export CER_VM_ASSIGNMENT_GROUP_ID='id'
export CER_VM_BUSINESS_SERVICE_ID='id'
export CER_VM_WATCH_LIST='id,id'
